//主色
$main: #cc00ff;
$sub: #fc00ad;
$BG: #ffff;

//字色
$mainfont: #000;
$subfont: #fc00ad;
$lightfont: #ffff;
$tagfont: #cc00ff;
$remind: #22c3fd;
$footerFont: #3b3b3b;

//header
$inputBG: #282828;
$logBtn1_BG: linear-gradient(to right, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$logBtn1HOV_BG: linear-gradient(to left, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$logBtn2_BG: #0bc7ff;
$logBtn2HOV_BG: #1b798a;
$mq_textBG: #e3e3e3;
$mqBtn: #ffff;


//nav
$navBG: linear-gradient(to right, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$navHov: linear-gradient(to top, #04defd 0%, #fc00f9 100%);
$liHovBorder: #ffff;

//左部
$recInfoBG: #ececec;

//中部
$midBG: #ffff;
$nextBtn_BG: #0bc7ff;
$gameBlock_BG: #ffff;
$showmoreBtn_BG: #0bc7ff;

//footer
$footerBG: #ececec;
$pageHovline: #3b3b3b;
$pageHovBG: #0bc7ff;
$cs24hrBtnBg: linear-gradient(to right, #6800d2 0%, #ec00de 53%, #fd0059 100%);
$cs24hrBtnBorder: #9d0000;